<h2>Sessions</h2>

<div class="well">
    <ul class="nav nav-pills">
      {{#link-to 'sessions.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
      {{#link-to 'sessions.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}
    </ul>
</div>

{{outlet}}